* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: mssansserif;
}

html {
    font-size: 65%;
}

body {
    background-color: black;
}

/*----------------------------fontes----------------------------*/

/*--------------------josefin--------------------*/

@font-face {
    font-family: josefinsanslight;
    src: url('/Versão\ Alpha/Utilitários/Fontes/josefinsans/JosefinSans-Light.ttf');
}

@font-face {
    font-family: josefinsans;
    src: url('/Versão\ Alpha/Utilitários/Fontes/josefinsans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: josefinsanssemibold;
    src: url('/Versão\ Alpha/Utilitários/Fontes/josefinsans/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: josefinsansbold;
    src: url('/Versão\ Alpha/Utilitários/Fontes/josefinsans/JosefinSans-Bold.ttf');
}

/*--------------------montserifOnlyTwo--------------------*/

@font-face {
    font-family: montserif;
    src: url('/Versão\ Alpha/Utilitários/Fontes/montserif/Fontfabric\ -\ Mont\ ExtraLight\ DEMO.otf');
}

@font-face {
    font-family: montserifbold;
    src: url('/Versão\ Alpha/Utilitários/Fontes/montserif/Fontfabric\ -\ Mont\ Heavy\ DEMO.otf');
}

/*--------------------montserrat--------------------*/

@font-face {
    font-family: montserrat;
    src: url(/Versão\ Alpha/Utilitários/Fontes/montserrat/Montserrat-ExtraLight.otf);
}

@font-face {
    font-family: montserratsemibold;
    src: url(/Versão\ Alpha/Utilitários/Fontes/montserrat/Montserrat-Light.otf);
}

@font-face {
    font-family: montserratbold;
    src: url(/Versão\ Alpha/Utilitários/Fontes/montserrat/Montserrat-SemiBold.otf);
}

/*--------------------mssansserifOnlyDefault--------------------*/

@font-face {
    font-family: mssansserif;
    src: url('/Versão\ Alpha/Utilitários/Fontes/mssansserif/microsoft-sans-serif.ttf');
}

/*--------------------quicksand--------------------*/

@font-face {
    font-family: quicksand;
    src: url(/Versão\ Alpha/Utilitários/Fontes/quicksand/Quicksand_Light.otf);
}

@font-face {
    font-family: quicksandbold;
    src: url(/Versão\ Alpha/Utilitários/Fontes/quicksand/Quicksand_Bold.otf);
}

@font-face {
    font-family: quicksandbook;
    src: url(/Versão\ Alpha/Utilitários/Fontes/quicksand/Quicksand_Book.otf);
}

/*--------------------sansation--------------------*/

@font-face {
    font-family: sansation;
    src: url(/Versão\ Alpha/Utilitários/Fontes/sansation/Sansation_Light.ttf);
}

@font-face {
    font-family: sansationbold;
    src: url(/Versão\ Alpha/Utilitários/Fontes/sansation/Sansation_Bold.ttf);
}

/*--------------------josefin--------------------*/

@font-face {
    font-family: worksanslight;
    src: url('/Versão\ Alpha/Utilitários/Fontes/worksans/WorkSans-Light.ttf');
}

@font-face {
    font-family: worksans;
    src: url('/Versão\ Alpha/Utilitários/Fontes/worksans/WorkSans-Regular.ttf');
}

@font-face {
    font-family: worksanssemibold;
    src: url('/Versão\ Alpha/Utilitários/Fontes/worksans/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: worksansbold;
    src: url('/Versão\ Alpha/Utilitários/Fontes/worksans/WorkSans-Bold.ttf');
}

/*=====================experiencia==================================*/
#experiencia {
    display: flex;
    font-family: arial;
    flex-direction: column;
    color: white;
    margin: 0 5% 0 5%;
}

.titleExperiencia {
    text-align: right;
    font-size: 3.5rem;
    padding: 2em 0;
    font-family: worksans;
}

.middleExperiencia {
    display: flex;
    flex-direction: row;
}

/*--------------------menu--------------------*/

.menuExperiencia {
    background-color: rgba(10, 10, 10);
    height: fit-content;
}

.optionMenuExp {
    font-size: 2.1rem;
    border-left: 2px solid transparent;
    white-space: nowrap;
    margin: 0 0;
    padding: 2rem 6rem;
    margin: auto;
    cursor: pointer;
    font-family: josefinsans;
}


/*----------hover----------*/

.optionMenuExp:hover {
    opacity: 0.8;
    border-left: 2px solid rgb(65, 105, 225);
}

/*--------------------container-rigth-menu--------------------*/

.containerExperiencia {
    margin-left: 2.5rem;
}

.titleContainerExp {
    font-size: 2.2rem;
    padding-bottom: 1rem;
    font-family: montserratsemibold;
}

.subtitleContainerExp {
    font-size: 2.1rem;
    color: rgb(65, 105, 225);
    padding-bottom: 1.5rem;
    font-family: montserrat;
}

.textContainerExp {
    font-size: 1.8em;
    line-height: 3rem;
    color: lightgray;
    font-family: worksanslight;
    width: 100%;
}

/*--------------------certificados-------------------*/

.contCertificate {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    display: none;
}

.titleCertificates {
    color: lightgray;
    padding-bottom: 4rem;
}

.optionCertificates {
    margin: auto;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-family: josefinsanslight;
}

.optionsCertificates {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.optionCertificates2 {
    display: flex;
    flex-direction: row;
    margin: auto;

}

/*imagens*/

.containerImgExp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 0 0em 0;
}

.containerImgExp-img {
    border-radius: 5px;
    display: none;
    width: 70%;
}

.containerImgExp-img2 {
    display: none;
    height: fit-content;
}

.containerImgExp-img3 {
    display: none;
}

.legendContImgExp {
    font-size: 1.5rem;
    color: rgba(211, 211, 211, 0.7);
    font-family: arial;
    padding-bottom: 2rem;
}

.alignCertificate {
    display: flex;
    justify-content: center;
}

.certificates {
    display: none;
    color: black;
    font-size: 1.9rem;
    font-family: josefinsans;
    font-weight: bold;
    border-radius: 2em;
    width: fit-content;
    padding: 1.5rem 2.5rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

.downloadCvExp {
    color: black;
    text-align: right;
    font-size: 1.65rem;
    font-family: josefinsans;
    font-weight: bold;
    border-radius: 2em;
    width: fit-content;
    padding: 1.5rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

/*----------hover----------*/

.optionCertificates:hover {
    opacity: 0.9;
}

.downloadCvExp:hover {
    opacity: 0.7;
}

.certificates:hover {
    opacity: 0.7;
}

/*=====================media-query==================================*/
@media (max-width:1024px) {
    html {
        font-size: 60%;
    }

    #experiencia {
        margin: 0 2%;
    }

    .containerExperiencia {
        margin-left: 1.5rem;
    }
}

@media (max-width:768px) {
    html {
        font-size: 58%;
    }

    #experiencia {
        margin: 0 1%;
    }

    .middleExperiencia {
        flex-direction: column;
    }

    .menuExperiencia {
        margin-bottom: 2rem;
        text-align: center;
    }

    .optionsCertificates {
        display: flex;
        flex-direction: column;
    }

    .optionCertificates2 {
        flex-direction: column;
    }

    .containerExperiencia {
        margin-left: 1rem;
    }

    .containerImgExp-img {
        width: 90%;
    }

    .optionMenuExp:hover {
        opacity: 0.8;
        border-left: 2px transparent;
        border-bottom: 2px solid rgb(65, 105, 225);
    }
}

@media (max-width:500px) {
    html {
        font-size: 57%;
    }

    .downloadCvExp {
        padding: 1.5rem 2rem;
    }

    .containerImgExp-img {
        width: 100%;
        border-radius: 0;
    }

    #experiencia {
        margin: 0 0.5%;
    }

    .optionCertificates, .optionCertificates2 {
        flex-direction: column;
    }

    .downloadCvExp {
        padding: 2rem;

        font-size: 1.9rem;
    }

    .certificates {
        padding: 2rem;
        font-size: 2rem;
        font-weight: bold;
    }


}

@media (max-width:375px) {
    html {
        font-size: 50%;
    }

    #experiencia {
        margin: 0%;
    }

    .containerImgExp-img {
        width: 100%;
        border-radius: 0;
    }
}


@media (max-width:320px) {
    html {
        font-size: 49%;
    }

    .optionMenuExp {
        white-space: default;
    }

}